<a href="https://colab.research.google.com/github/VishalS-HK/PESU-I-O-UMLA/blob/main/Copy_of_PESUIO_Slot_14_class_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Welcome to the first class of undersanding ML algorithms
Today you will get yourselves familiar with python and essentially get to dive into the basics of some libraries that you will be learning about throughout this course.

The Most basic Hello World program:

In [ ]:
print("Hello World!")

Hello World!

Concept of variables and data types :
EXERCISE: A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars. So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company? Create variables for each numeric quantity and use appropriate arithmetic operations.

In [ ]:
plane_cost = 5000
number_of_people = 29
cost_of_each_ticket = 200

profit_made = ((cost_of_each_ticket)*(number_of_people)) - 5000
print("The Profit Made : $", profit_made)

The Profit Made : $ 800

Concept of a conditional statement or a set of conditional statements and cases :
Write a code snippet which evaluates whether a number is a multiple of just 2 , just 3 , or both 2 and 3 (multiple of 6)

In [ ]:
#use if-else statements and print out the required information:
num= 12
#complete this area
if(num != 0):
  if(num % 2 == 0 and num % 3 == 0):
      print("Multiple of both 2 and 3")
  elif(num % 2 == 0):
    print("Multiple of 2 only")
  else:
    print("Multiple of 3 only")

else:
  print("Error")

Multiple of both 2 and 3

Concept of loops:
Write a program to count the number of vowels in the given string:
ANTIESTABLISHMENTARIANISTICALLY

In [ ]:
s = 'ANTIESTABLISHMENTARIANISTICALLY'
count = 0
for i in s:
  if (i == 'A' or i == 'E' or i == 'I' or i == 'O' or i == 'U'):
    count += 1
print("The number of Vowels are : ", count)

The number of Vowels are :  12

learning what each data- structure in python does and using all their functions:

LISTS AND ITS FUNCTIONALITY:

In [ ]:
#Define a random list of fruits 
l = ['apple','watermelon', 'grapes', 'oranges']
#iterate over the list and find the name of the fruit which has the smallest word length
smallest_word = min(l, key = len)
print("The smallest word : ", smallest_word)
# append a vegetable to your existing list
l.append("potato")
print(l)

# find the size of your list
print(len(l))
# add enough fruits such that your list size if greater that 4

# delete the 2nd fruit(1st index) from your list:
l.pop(1)
print(l)
# add your name in the 4th position of the list (3rd index)
l.insert(3,"Vishal")
print(l)
#have fun and try out any 4-5 pre-defined fucntions on a list as seen in the python list documentation
l.sort()
print(l)
l.reverse()
print(l)
l.remove('apple')
print(l)
print("Largest word : ", max(l, key = len)) # using max function to find the largest word in the list

The smallest word :  apple
['apple', 'watermelon', 'grapes', 'oranges', 'potato']
5
['apple', 'grapes', 'oranges', 'potato']
['apple', 'grapes', 'oranges', 'Vishal', 'potato']
['Vishal', 'apple', 'grapes', 'oranges', 'potato']
['potato', 'oranges', 'grapes', 'apple', 'Vishal']
['potato', 'oranges', 'grapes', 'Vishal']
Largest word :  oranges

TUPLES AND ITS FUNCTIONALITY:

In [ ]:
#create abd tuple and print its elements 
t = (1,'apple',True)
print(t)
#print the type of each value in the tuple
for i in t:
  print(type(i))
#try to change the seconf value in your tuple to "Caterpillar"
x = list(t)
x[2] = "Caterpillar"
t = tuple(x)
print(x)
# print the last element of the tuple without using the length of the tuple
print(t[-1])
# slicing is an IMPORTANT concept in python especially since you will all be working on huge amounts of data so try different options 
# print(a[-2:]), print([:3]) etc...
print(t[0::2])
print(t[:1:])
#sort vs sorted function: find the difference in the form of a program:

#using sort:
l = list(t)
l.sort
print(l)

#using sorted:
x = [5,1,3,2]
print(sorted(x))

(1, 'apple', True)
<class 'int'>
<class 'str'>
<class 'bool'>
[1, 'apple', 'Caterpillar']
Caterpillar
(1, 'Caterpillar')
(1,)
[1, 'apple', 'Caterpillar']
[1, 2, 3, 5]

SETS AND ITS FUNCTIONALITY:

In [ ]:
#explore the properties of set and after doing that solve this little puzzle below:

Ana is a data-scientist  who just started her career in Meta, however she needs to find the existance of new words on facebook hashtags and find the numbre of unique such words which need to be added to the existing facebook hastag library:

facebook hastag library : ["ootd", "lol", "ffs", "asap"]
daily facebook hastag words string: " rofl lol macha bob ootd asap fun sweet16 ffs lol asap ootd ffs macha rofl bob ootd fun candid anime happyhours bob fun happyhours"
You will need to indivitually extract the words from the string and then solve this problem ?? How are you going to do that ? 
# Reading documentation should become a habit .....

In [ ]:
#solve the above problem and help ana do her work she may even hire you as her assistant!!!
existing_library = ["ootd", "lol", "ffs", "asap"]
string = "rofl lol macha bob ootd asap fun sweet16 ffs lol asap ootd ffs macha rofl bob ootd fun candid anime happyhours bob fun happyhours"

l = string.split(" ")
#print(l)
new_set = set(l)
#print(new_set)
new_library = list() 
for i in new_set:
  if i not in existing_library:
    existing_library.append(i)
print(existing_library)

['ootd', 'lol', 'ffs', 'asap', 'macha', 'fun', 'rofl', 'bob', 'happyhours', 'anime', 'candid', 'sweet16']

DICTIONARIES AND ITS FUNCTIONALITY:

In [ ]:
#explore the usage of dictionaries because it is literally so useful when in comes data science
#a lot of the data you will be using will be as key-value pairs

Given an unsorted list of some elements(may or may not be integers), Find the frequency of each distinct element in the list using a dictionary. 
Input : [1, 1, 1, 5, 5, 3, 1, 3, 3, 1,
                  4, 4, 4, 2, 2, 2, 2]

Output : 1 : 5
         2 : 4
         3 : 3
         4 : 3
         5 : 2

In [ ]:
# Python program to count the frequency of
# elements in a list using a dictionary
 
def CountFrequency(my_list):
 
    # Creating an empty dictionary
    freq = {}
    #------fill your code here-----------------
    for i in my_list:
      freq[i] = my_list.count(i)
    print(freq)
# Driver function
if __name__ == "__main__":
    my_list =[1, 1, 1, 5, 5, 3, 1, 3, 3, 1, 4, 4, 4, 2, 2, 2, 2]
 
    CountFrequency(my_list)

{1: 5, 5: 2, 3: 3, 4: 3, 2: 4}

Now that you have finished this basics exercise in python We shall now play in teams and winning Team doesn't get homework today !